.main-container {
    display: flex;
    justify-content: flex-start;
}

.sidebar {
    width: 25%;
    background-color: #c7dff7;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
   
}

.details {
    margin-bottom: 20px;
}

.course-list {
    margin-top: 20px;
}
.course-list ul {
    list-style: none;
    padding: 0;
}
.course-list li {
    padding: 10px;
    background-color: #e9ecef;
    margin-bottom: 5px;
    cursor: pointer;
}
.course-list li:hover {
    background-color: #ced4da;
}